PORT=5000
NODE_ENV=development
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key_here_123456789
CLIENT_URL=http://localhost:5173

# JDoodle API Configuration (for Coding Challenges)
JDOODLE_CLIENT_ID=your_jdoodle_client_id
JDOODLE_CLIENT_SECRET=your_jdoodle_client_secret

# AI Models & Agents Configuration
# We use Gemini for Agent 1 and Agent 2 text analysis.
GEMINI_API_KEY=AIzaSyDhvRuYaVra1JM5qMH06ThcLJ0EtKrOeOU

# Search Capablity Tool for Agent 2
TAVILY_API_KEY=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
# OR
SERPER_API_KEY=4f54b7c0d85170b14dab2cca7055416aa409f37b

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=placeholder
GOOGLE_CLIENT_SECRET=placeholder
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
